.numbers .nut-space {
  width: 9px;
}

.board {
  position: relative;
  overflow: hidden;
}

.string {
  position: relative;
  z-index: 1;
}

.nut {
  width: 9px;
  height: 25px;
  flex: none;
  background: linear-gradient(90deg, #f6f0dc, #c9bea1);
  border-right: 2px solid #81765e;
  box-shadow: 2px 0 4px #4f3c2566;
}

.position-marker {
  position: absolute;
  z-index: 0;
  top: 18px;
  bottom: 18px;
  width: 9px;
  background: #6d4c2f99;
  border: 1px solid #4e3425aa;
  border-radius: 1px;
  box-shadow: inset 1px 0 #d2aa75aa;
}
